#addFriends {
	display: none;
	width: 100%;
	margin-top: 45px;
}

#addFriends .contentContainer {
	display:block;
	width: 100%;
	overflow-y: auto;
}

#addFriends .content {
	display: block;
	height: 100%;
}

#addFriends .participantSearch {
	display: block;
	padding: 6px;
	background-color: #E4E4E4;
	border-bottom: 1px solid #CCC;
}

#addFriends .participantSearch #participantSearchField {
	height: 16px;
	font-weight: regular;
	color: #333;
	font-size: 1.2em;
	resize: none;
	margin: 0 0 0 0;
}

#addFriends .participantSearch #participantSearchField.default {
	font-weight: bold;
	color: #CCC;
}

#addFriends .participantSearch #participantSearchField.error {
	color: #F00;
}

#addFriends .participantSearch .buttons {
	display: inline-block;
	float: right;
}

#addFriends .participantSearch .buttons INPUT {
	font-size: 1.2em;
}

#addFriends .participantList {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#addFriends .participantList LI {
	display: block;
	margin: 0;
	padding: 12px;
	border-bottom: 1px solid #E2E2E2;
}

#addFriends .participantList LI.disabled {
	opacity: 0.5;
}

#addFriends .participantList LI.header {
	display: none;
	height: 16px;
	background: url('/assets/images/plainTableHeaderBg.png') repeat-x;
	padding: 0 12px 0 12px;
}

#addFriends .participantList LI.header .headerText {
	float: left;
	color: #FFF;
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 0px 1px 0px #000;
	margin-top: -2px;
}