#addLocations {
	display: none;
	width: 100%;
	margin-top: 45px;
}

#addLocations .content {
	display: block;
	height: 100%;
}

#addLocations #locationSearch {
	display: block;
	padding: 6px;
	background-color: #E4E4E4;
	border-bottom: 1px solid #666;
}

#addLocations #locationSearch #locationSearchField {
	height: 16px;
	font-weight: regular;
	color: #333;
	font-size: 1.2em;
	resize: none;
	margin: 0 0 0 0;
}

#addLocations #locationSearch #locationSearchField.default {
	font-weight: bold;
	color: #CCC;
}

#addLocations #locationSearch .buttons {
	display: inline-block;
	float: right;
}

#addLocations #locationSearch .buttons INPUT {
	font-size: 1.2em;
}

#addLocations #locationDetail {
	position: absolute;
	display: none;
	width: 100%;
	padding: 8px;
	
  	background: rgb(0, 0, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

  	z-index: 10;
  	color: #FFF;
}

#addLocations #locationDetail .voteButton {
	display: block;
	float: left;
	width: 52px;
	height: 52px;
	background-image: url('/assets/images/button_add_annotation_default.png');
}

#addLocations #locationDetail .iVotedFor {
	background-image: url('/assets/images/button_unlike_annonation_default.png') !important;
}

#addLocations #locationDetail .notVotedFor {
	background-image: url('/assets/images/button_like_annonation_default.png') !important;
}

#addLocations #locationDetail .decidedVoteButton {
	border: none;
	background-image: url('/assets/images/button_decided_annonation.png') !important;
}

#addLocations #locationDetail .locationInfo {
	display: block;
	float: left;
	padding: 2px 10px 0 10px;
}

#addLocations #locationDetail .locationInfo P {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

#addLocations #locationDetail .locationInfo H3 {
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

#addLocations #categoryListContainer {
	position: absolute;
	display: none;
	width: 100%;
	overflow-y: auto;
	z-index: 20;
	background-color: #FFF;
}

#addLocations #categoryListContainer .listContent {
	display: block;
	height: 100%;
}

#addLocations #categoryListContainer UL {
	margin: 0;
	padding: 0;
	list-style: none;
}

#addLocations #categoryListContainer UL LI {
	font-size: 1.4em;
	font-weight: bold;
	color: #333;
	padding: 12px 12px 10px 12px;
	border-bottom: 1px solid #E2E2E2;
}
