#eventDetail {
	display: none;
	width: 100%;
	margin-top: 45px;
	overflow-y: auto;
}

#eventDetail .content {
	display: block;
	height: 100%;
	border-top: 1px solid #FFF;
}

#eventDetail UL.hideLocations LI {
	display: none;
}

#eventDetail UL.hideLocations LI:FIRST-CHILD {
	display: list-item;
}

#eventDetail UL.hideLocations LI:LAST-CHILD {
	display: list-item;
}

#eventDetail .decidedVoteButton {
	width: 50px;
	height: 50px;
	border: none;
	background-image: url('/assets/images/button_decided_default.png');
}
