#eventDetail {
	display: none;
	width: 100%;
	margin-top: 45px;
	overflow-y: auto;
}

#eventDetail .content {
	display: block;
	height: 100%;
}

#eventDetail UL.hideLocations LI {
	display: none;
}

#eventDetail UL.hideLocations LI:FIRST-CHILD {
	display: list-item;
}

#eventDetail UL.hideLocations LI:LAST-CHILD {
	display: list-item;
}

#eventDetail UL.participantList LI IMG {
	float: left;
	width: 32px;
	height: 32px;
	border: 1px solid #333;
	margin-right: 8px;
}

#eventDetail UL.participantList LI H3 {
	font-size: 1.6em;
	margin: 0;
	padding: 9px 10px 0 10px;
}
