#prefs {
	display: none;
	width: 100%;
	margin-top: 46px;
	overflow-y: auto;
}

#prefs .content {
	display: block;
	height: 100%;
	border-top: 1px solid #2881BB;
}

#prefs .fbButton {
	text-align: center;
	height: 25px;
	padding-top: 12px;
	font-size: 1.4em;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
	border: 1px solid #01244A;
	-webkit-border-radius: 5px; -moz-border-radius: 5px;
	margin: 0 8px;
	background: url('/assets/images/tile_homeButton.png') repeat-x;
}

#login #fbSignup .fbButton .text {
	width: 150px;
	margin: 0 auto;
}

#prefs UL.legalLinksList LI, #prefs UL.controlList LI {
	padding: 14px 10px 12px 12px !important;
}

#prefs UL.legalLinksList LI H3, #prefs UL.controlList LI H3 {
	font-weight: bold;
	font-size: 1.4em;
	margin: 0;
	padding: 0;
}

#prefs UL.controlList LI .toggle {
	float: right;
	font-size: 1.4em;
	font-weight: bold;
}

#prefs UL.controlList LI .on {
	display: none;
}

#prefs UL.controlList LI .off {
	display: block;
}

#prefs UL.controlList LI.on .on {
	display: block;
}

#prefs UL.controlList LI.on .off {
	display: none;
}